# Don't use quotes( " and ' )

API_ID=24689190
API_HASH=274c256d5b42b7456eca38f5d539162b
SESSION=BACrxwU5KH9k5xbqDeV8FI2lw0HoRvgY2Ly-oyNdmZ-BpPE-DB7XaWWN4AT_yt5hVhi-nRkspr6lnNYtzifwTCbQcSwOopv_TxuCfGgTCejWUwLV_LZ9TE5uKV3F_z6kqcHUbcEUhe2PVhjUIcgYouR4FsldxF9pPej08HEYHv9n-rbr5qhJ9vpEBTLprzHS8lb3AvNils-ZtmGvlgwmuiiUW_oBrFKyRzDOGk-8v_nf01B0XgnlPQsnX8UC4d8cUygQBRkAfd6t7GiOs9rd6NuNbkZFCOuPDaXaeTxdv2lbNFi2O-4mFsa93yWKAVfazBVQ0WllRes7FNdc4uugZhDHAAAAAVkdHHQA
REDIS_URI=http://redis-15067.c9.us-east-1-2.ec2.cloud.redislabs.com:15067
REDIS_PASSWORD=GwVdOtRAjusjtmy58EF81cYgROrsyzri

# [OPTIONAL]

LOG_CHANNEL=
BOT_TOKEN=
